#tab-area li {
    display: inline-block;
    padding: 12px 24px;
    font-size: 28px;
}

#tab-area li.active {
    background: #cfc;
}

.unit {
    border: solid 1px #000;
    border-radius: 3px;
    padding: 12px;
    margin: 12px;
}

.unit h2 {
    font-size: 16px;
    background: #cfc;
    padding: 12px;
    font-weight: bold;
}

ul.field {
    white-space: nowrap;
    height: 100%;
}

ul.field li span {
    display: inline-block;
    line-height: 38px;
    height: 38px;
    width: 100%;
    background: #eee;
}

ul.field li s {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-right: solid 1px #ccc;
}

ul.field li:last-child s {
    display: none;
}

ul.field li {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 100%;
}

.J-row {
    height: 30px;
    border-bottom: solid 1px #ccc
}

.excel {
    position: relative;
    padding-top: 38px;
    border: solid 1px #ccc;
    border-bottom: none;
}

.excel-field {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.excel-container {
    position: relative;
    border-bottom: none;
}

.J-input {
    position: absolute;
    left: -999em;
    top: -999em;
    border: solid 2px forestgreen;
    margin-top: -3px;
    margin-left: -3px;
    box-shadow: 0 0 3px green;
    border-radius: 3px;
}

.J-input input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    margin: 0;
    outline: none;
    padding: 3px;
}